.container-1{
    /* border: 3px solid red; */
    height: 1500px;
    width: 100%;
    background-color: #f1f2f4;
}
.class1{
    /* border: 1px solid black; */
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.class2{
    /* border: 1px solid darkblue; */
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class3{
    /* border: 1px solid darkblue; */
    height: 50px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f0f5ff;
    border-radius: 10px;
}
.class8{
    /* border: 1px solid red; */
    height:60px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.class9{
    /* border: 1px solid red; */
    height:60px;
    width: 650px;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: #a7a9ae;
}
.class4{
    /* border: 1px solid darkblue; */
    height: 60px;
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 3px;
    font-size: 1.2em;
}
.class5{
    /* border: 1px solid darkblue; */
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
}
.class6{
    /* border: 1px solid darkblue; */
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
}
.class7{
    /* border: 1px solid darkblue; */
    height: 60px;
    width: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.class10{
    /* border: 1px solid black; */
    height: 150px;
    width: 97%;
    margin: 20px;
    display: flex;
     justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: white;
    
}
.class01{
    /* border: 1px solid red; */
    height: 150px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.class11{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
    
}
.class02{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class03{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class12{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
}
.class04{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class05{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class13{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
}
.class06{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class07{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class14{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
}
.class08{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class09{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class15{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
}
.class010{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class011{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class16{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
}
.class012{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class013{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.class17{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
}
.class014{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class015{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class18{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
}
.class016{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class017{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class19{
    /* border: 1px solid blue; */
    height: 150px;
    width: 100px;
}
.class018{
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class019{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clouser{
    /* border: 1px solid blue; */
    height: 250px;
    width: 97.5%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/1e31c9d65e3b4592.webp);

}
.class20{
    /* border: 1px solid blue; */
    height: 400px;
    width: 97.5%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}
.class21{
    /* border: 1px solid red; */
    height: 400px;
    width: 79%;
}
.class22{
    /* border: 1px solid red; */
    height: 400px;
    width: 300px;
}
.class23{
    /* border: 1px solid red; */
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding-left: 5px;
}
.class24{
    /* border: 1px solid red; */
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.class25{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
    text-align: center;
}
.class31{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.class32{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}

.class26{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class33{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class34{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}

.class27{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class35{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class36{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}

.class28{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class37{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class38{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}

.class29{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class39{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class40{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}
.class30{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class41{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class42{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}
.class43{
    /* border: 1px solid blue; */
    height: 400px;
    width: 97.5%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}
.class44{
    /* border: 1px solid red; */
    height: 400px;
    width: 100%;
    padding-right: 5px;
}
.class45{
    /* border: 1px solid red; */
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding-left: 5px;
}
.class46{
    /* border: 1px solid red; */
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.class47{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
    text-align: center;
}
.class48{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.class49{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}
.class50{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class51{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class52{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}
.class53{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class54{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class55{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}
.class56{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class57{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class58{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}
.class59{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class60{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class61{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}
.class62{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class63{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class64{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}
.class65{
    border: 2px solid #c9c7c7;
    border-radius: 5px;
    height: 290px;
    width: 180px;
}
.class66{
    /* border: 1px solid black; */
    height: 230px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.class67{
    /* border: 1px solid black; */
    height: 50px;
    width: 180px;
    text-align: center;
}